atomicwrites==1.3.0
attrs==19.1.0
beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.1
dominate==2.3.5
Flask==1.0.3
Flask-Bootstraps==3.3.7.8
flask-googlemaps==0.4.0
Flask-SQLAlchemy==2.4.1
Flask-Testing==0.7.1
get==2019.4.13
googlemaps==4.2.0
gunicorn==20.0.4
idna==2.8
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.2.0
MarkupSafe==1.1.1
more-itertools==7.2.0
nltk==3.4.5
numpy==1.17.4
packaging==19.2
pluggy==0.13.0
post==2019.4.13
public==2019.4.13
py==1.8.0
pyparsing==2.4.2
pyrsistent==0.15.7
pytest==5.2.0
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.5
SQLAlchemy==1.3.8
urllib3==1.25.6
visitor==0.1.3
wcwidth==0.1.7
Werkzeug==0.15.4
wikipedia==1.4.0
zipp==0.6.0
