<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <img class="masthead-avatar mb-5" src="{{ url_for('static', filename='img/papy.png') }}" alt="papy">
        <img class="masthead-avatar mb-5" src="{{ url_for('static', filename='img/rebus.png') }}" alt="rebus">
        <p>
            Papybot le commentaire malin</br>
            Grandpy en recherche d'annales</br>
            Grandpy toute une comédie</br>
            Grandpy le roi des bobards</br>
            PaPy prend la chicane</br>
            PaPy blague</br>
            Toute une généalogie</br>
        </p>
    </div>
</header>