{% block form %}
                    <form action="http://localhost:5000/quest" method="post" id="new_quest">
                        <label class="inline" for="question">Question:</label>
                        <input type="text" required name="quest" id="quest" class="inline">
                        <button type="submit" id="b_submit" value="Envoyez la question ;)" class="btn btn-primary inline">
                            Envoyez la question ;)
                        </button>
                    </form>
{% endblock %}